*
!android
!app
!assets
!browserslist
!build
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!common
!CONTRIBUTORS
!docker-compose.yml
!Dockerfile
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.yml
!.htmllintrc
!ios
!l10n.toml
!package.json
!package-lock.json
!postcss.config.js
!.prettierignore
!public
!README.md
!scripts
!server
!.stylelintrc
!tailwind.config.js
!test
!webpack.config.js
!.git
